<%- include('partials/header'); %>

<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sequi
  dignissimos hic in debitis explicabo iure similique assumenda excepturi quae.
  Dolore veniam facilis atque velit, fugit eveniet asperiores molestiae aliquam
  est aperiam, voluptas praesentium ab! Ut ea officiis eum dolorem quam fugiat,
  optio voluptatibus, illo est quasi distinctio, ab natus molestias a quia
  tempore recusandae? Minima ut adipisci eum commodi! Esse, et eaque architecto
  totam aut in debitis quisquam temporibus iure laboriosam sequi voluptatem
  dolorem, quaerat sunt? Natus facilis iste illum odio quisquam exercitationem
  impedit placeat, adipisci dolorem tenetur. At expedita dolorem quis accusamus
  iste. Consequatur ea est doloremque dignissimos!
</p>

<%- include('partials/footer'); %>